<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-rongcloud"
  version="1.0.0">

    <name>Rong Cloud Plugin</name>
    <description>RongCloud for cordova plugin</description>
    <author>huatech</author>
    <keywords>imkit</keywords>
    <license>MIT License</license>


    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <js-module src="www/RongCloudPlugin.js" name="RongCloudPlugin">
        <clobbers target="RongCloud" />
    </js-module>
    <hook type="before_plugin_install" src="../../scripts/ios/pod-install.js" />
    <hook type="after_plugin_install" src="../../scripts/ios/ios-config-rongcloud.js" />



    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RongCloudPlugin">
            <param name="ios-package" value="CDVMessage" />
        </feature>
        </config-file>

        <header-file src="src/ios/Plugins/CDVMessage.h" />
        <source-file src="src/ios/Plugins/CDVMessage.m" />
        <resource-file src="src/ios/rong-cloud-config.plist" />

    </platform>


</plugin>
